# 3.0 Pandas

### Good reference:

[Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/index.html)

In [52]:
import pandas as pd

import numpy as np

`Pandas` transforms `int` to `float`.

In [53]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Define your own index

In [54]:
se = [1,3,5,np.nan,6,8]
ind = ['a','b','c','d','e','f']

ss2 = pd.Series(se, index=ind)
ss2

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

### Data Frame

Transform data into dataframe

In [55]:
dates = pd.date_range(start='20180501', periods=6)
dates

DatetimeIndex(['2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04',
               '2018-05-05', '2018-05-06'],
              dtype='datetime64[ns]', freq='D')

First way to define `dataframe`

In [56]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-05-01 -1.137151  0.791440 -0.292357 -0.292491
2018-05-02 -0.335712 -0.352945 -2.079178  0.632709
2018-05-03 -1.034527  0.487593  0.090771  0.208979
2018-05-04 -0.160972 -0.147654  2.467532 -0.495225
2018-05-05  1.490158  0.596533 -0.242240  0.929301
2018-05-06 -1.109234 -0.054236 -0.888270 -1.373689

Define different types of data for each column in `dataframe`

In [57]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [58]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### try:

type df2. and then press tab

In [59]:
df2.to_clipboard(excel=False, sep=",")

C:\Users\liana\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\io\clipboards.py:137: UserWarning: to_clipboard with excel=False ignores the sep argument
  warnings.warn("to_clipboard with excel=False ignores the sep argument")

Check for any null values in the `dataframe`

In [60]:
df2.isnull()

       A      B      C      D      E      F
0  False  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False  False  False  False  False
3  False  False  False  False  False  False

### Viewing Data

Check data snippet (default first 5 rows of data)

In [61]:
df.head()

                   A         B         C         D
2018-05-01 -1.137151  0.791440 -0.292357 -0.292491
2018-05-02 -0.335712 -0.352945 -2.079178  0.632709
2018-05-03 -1.034527  0.487593  0.090771  0.208979
2018-05-04 -0.160972 -0.147654  2.467532 -0.495225
2018-05-05  1.490158  0.596533 -0.242240  0.929301

Check last 2 rows

In [62]:
df.tail(2)

                   A         B        C         D
2018-05-05  1.490158  0.596533 -0.24224  0.929301
2018-05-06 -1.109234 -0.054236 -0.88827 -1.373689

Check columns name

In [63]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

### data aggregation

In [64]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.381240  0.220122 -0.157290 -0.065069
std    1.008056  0.464450  1.496975  0.836661
min   -1.137151 -0.352945 -2.079178 -1.373689
25%   -1.090557 -0.124300 -0.739291 -0.444541
50%   -0.685120  0.216678 -0.267299 -0.041756
75%   -0.204657  0.569298  0.007518  0.526776
max    1.490158  0.791440  2.467532  0.929301

### Transpose your data

Change column -> row, row -> column

In [65]:
df.T

   2018-05-01  2018-05-02  2018-05-03  2018-05-04  2018-05-05  2018-05-06
A   -1.137151   -0.335712   -1.034527   -0.160972    1.490158   -1.109234
B    0.791440   -0.352945    0.487593   -0.147654    0.596533   -0.054236
C   -0.292357   -2.079178    0.090771    2.467532   -0.242240   -0.888270
D   -0.292491    0.632709    0.208979   -0.495225    0.929301   -1.373689

Select column `C` value

In [66]:
df['C']

2018-05-01   -0.292357
2018-05-02   -2.079178
2018-05-03    0.090771
2018-05-04    2.467532
2018-05-05   -0.242240
2018-05-06   -0.888270
Freq: D, Name: C, dtype: float64

In [67]:
df.C

2018-05-01   -0.292357
2018-05-02   -2.079178
2018-05-03    0.090771
2018-05-04    2.467532
2018-05-05   -0.242240
2018-05-06   -0.888270
Freq: D, Name: C, dtype: float64

### Sorting by an axis

axis 1 = column, axis 0 = row

In [68]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2018-05-01 -0.292491 -0.292357  0.791440 -1.137151
2018-05-02  0.632709 -2.079178 -0.352945 -0.335712
2018-05-03  0.208979  0.090771  0.487593 -1.034527
2018-05-04 -0.495225  2.467532 -0.147654 -0.160972
2018-05-05  0.929301 -0.242240  0.596533  1.490158
2018-05-06 -1.373689 -0.888270 -0.054236 -1.109234

In [69]:
df.A

2018-05-01   -1.137151
2018-05-02   -0.335712
2018-05-03   -1.034527
2018-05-04   -0.160972
2018-05-05    1.490158
2018-05-06   -1.109234
Freq: D, Name: A, dtype: float64

### indexing and selecting data

In [70]:
dates = pd.date_range('1/5/2018', periods=8)
df3 = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df3

                   A         B         C         D
2018-01-05 -1.065040  0.718084 -0.960286  1.227090
2018-01-06  1.433966  0.039428  0.503112  1.257123
2018-01-07 -0.835574 -0.829065  0.177859 -0.808524
2018-01-08  0.830635 -1.370882 -0.099366 -1.134848
2018-01-09  0.124842  0.080935  0.638361 -0.163994
2018-01-10  2.117917 -0.338599 -0.343840  0.416427
2018-01-11 -0.891569 -1.443841 -0.922021  0.191791
2018-01-12  0.423450  0.236779  0.588185 -1.137276

In [71]:
s = df3['A']
s

2018-01-05   -1.065040
2018-01-06    1.433966
2018-01-07   -0.835574
2018-01-08    0.830635
2018-01-09    0.124842
2018-01-10    2.117917
2018-01-11   -0.891569
2018-01-12    0.423450
Freq: D, Name: A, dtype: float64

In [72]:
df3.to_clipboard(excel=True,sep=",")

In [73]:
s[dates[5]]

2.117916814149501

`iloc` is integer position-based, either rows or columns

In [74]:
df3.iloc[5]

A    2.117917
B   -0.338599
C   -0.343840
D    0.416427
Name: 2018-01-10 00:00:00, dtype: float64

In [75]:
df3[:4]

                   A         B         C         D
2018-01-05 -1.065040  0.718084 -0.960286  1.227090
2018-01-06  1.433966  0.039428  0.503112  1.257123
2018-01-07 -0.835574 -0.829065  0.177859 -0.808524
2018-01-08  0.830635 -1.370882 -0.099366 -1.134848

`loc` is label-based

In [76]:
print(df3[2:4])
print(df3.iloc[2:4])

print(df3.loc[:,['B', 'A']])

                   A         B         C         D
2018-01-07 -0.835574 -0.829065  0.177859 -0.808524
2018-01-08  0.830635 -1.370882 -0.099366 -1.134848
                   A         B         C         D
2018-01-07 -0.835574 -0.829065  0.177859 -0.808524
2018-01-08  0.830635 -1.370882 -0.099366 -1.134848
                   B         A
2018-01-05  0.718084 -1.065040
2018-01-06  0.039428  1.433966
2018-01-07 -0.829065 -0.835574
2018-01-08 -1.370882  0.830635
2018-01-09  0.080935  0.124842
2018-01-10 -0.338599  2.117917
2018-01-11 -1.443841 -0.891569
2018-01-12  0.236779  0.423450

Putting integer position in label-based will cause error

In [77]:
print(df3.loc[2:4])

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [2] of type int

In [ ]:
df4 = pd.DataFrame(np.random.randn(6,4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df4

          A         B         C         D
a  1.384554 -1.700303 -0.177873  0.519589
b -0.825611 -0.607009  0.273914 -0.222121
c  0.146164  1.124391 -0.430483 -0.809883
d  0.169120 -0.089150 -0.755717  0.130251
e -0.328498 -0.876435 -0.582606 -0.665868
f  0.686719  0.361960 -1.608398  1.081696

In [ ]:
df4.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  1.384554 -1.700303 -0.177873  0.519589
b -0.825611 -0.607009  0.273914 -0.222121
d  0.169120 -0.089150 -0.755717  0.130251

In [ ]:
df4.loc['d':, 'A':'C']

          A         B         C
d -0.915246 -0.113527 -0.460655
e -0.880813  1.053852 -0.315671
f  0.240363  0.368581 -0.980476

### Note:

loc: selection by label

iloc: selection by position

### Boolean indexing

In [ ]:
df4_with_NA = df4[df4 > 0]
df4_with_NA

          A         B         C         D
a  1.384554       NaN       NaN  0.519589
b       NaN       NaN  0.273914       NaN
c  0.146164  1.124391       NaN       NaN
d  0.169120       NaN       NaN  0.130251
e       NaN       NaN       NaN       NaN
f  0.686719  0.361960       NaN  1.081696

# Missing Data

In [ ]:
df4_with_NA.dropna(how='any') # note, it will drop row(s) with NA elements

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
pd.isnull(df4_with_NA)

       A      B      C      D
a  False   True   True  False
b   True   True  False   True
c  False  False   True   True
d  False   True   True  False
e   True   True   True   True
f  False  False   True  False

In [ ]:
df4_with_NA.mean()

A    0.596639
B    0.743176
C    0.273914
D    0.577179
dtype: float64

### Adding a column

In [ ]:
df4

          A         B         C         D
a  1.384554 -1.700303 -0.177873  0.519589
b -0.825611 -0.607009  0.273914 -0.222121
c  0.146164  1.124391 -0.430483 -0.809883
d  0.169120 -0.089150 -0.755717  0.130251
e -0.328498 -0.876435 -0.582606 -0.665868
f  0.686719  0.361960 -1.608398  1.081696

In [ ]:
df4['E']=np.arange(6)

df4

          A         B         C         D  E
a  1.384554 -1.700303 -0.177873  0.519589  0
b -0.825611 -0.607009  0.273914 -0.222121  1
c  0.146164  1.124391 -0.430483 -0.809883  2
d  0.169120 -0.089150 -0.755717  0.130251  3
e -0.328498 -0.876435 -0.582606 -0.665868  4
f  0.686719  0.361960 -1.608398  1.081696  5

### Grouping

In [ ]:
df5 = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})

df5

     A      B         C         D
0  foo    one -0.523205 -0.032070
1  bar    one -2.303470 -0.232476
2  foo    two -1.017479 -0.481072
3  bar  three -0.563933  0.220276
4  foo    two -0.210775 -1.163493
5  bar    two  0.333132  0.286162
6  foo    one -0.303090 -0.400994
7  foo  three -0.929184 -0.139585

In [ ]:
df5.groupby('A').mean()

            C         D
A
bar -0.844757  0.091320
foo -0.596747 -0.443443

In [ ]:
df5.groupby(['A','B']).mean()

                  C         D
A   B
bar one   -2.303470 -0.232476
    three -0.563933  0.220276
    two    0.333132  0.286162
foo one   -0.413148 -0.216532
    three -0.929184 -0.139585
    two   -0.614127 -0.822282

### writing to a csv file

In [ ]:
df5.to_csv('my_csv.csv')

### reading from a csv file

In [ ]:
pd.read_csv('my_csv.csv')

   Unnamed: 0    A      B         C         D
0           0  foo    one -0.523205 -0.032070
1           1  bar    one -2.303470 -0.232476
2           2  foo    two -1.017479 -0.481072
3           3  bar  three -0.563933  0.220276
4           4  foo    two -0.210775 -1.163493
5           5  bar    two  0.333132  0.286162
6           6  foo    one -0.303090 -0.400994
7           7  foo  three -0.929184 -0.139585

In [ ]:
dfwiki = pd.read_html('http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world', header=0, parse_dates=False)
dfwiki

[Empty DataFrame
 Columns: [Unnamed: 0, This article includes a list of references, but its sources remain unclear because it has insufficient inline citations. Please help to improve this article by introducing more precise citations. (September 2017) (Learn how and when to remove this template message)]
 Index: [],   Map all coordinates using: OpenStreetMap
 0       Download coordinates as: KML · GPX, Empty DataFrame
 Columns: [Unnamed: 0, This section needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed. (August 2007) (Learn how and when to remove this template message)]
 Index: [],                                       Category  ...                                        Coordinates
 0                           Building[4] (list)  ...  25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...
 1              Self-supporting tower[5] (list)  ...  35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...
 2                     Guyed steel lattice mast  ...    47°16′45″N 97°20′27″W﻿ / ﻿47.27917°N 97.34083°W
 3                                Mast radiator  ...  21°25′11.87″N 158°08′53.67″W﻿ / ﻿21.4199639°N ...
 4                                Twin building  ...  3°09′27.45″N 101°42′40.7″E﻿ / ﻿3.1576250°N 101...
 5                                      Chimney  ...  52°1′26.3″N 75°28′34.5″E﻿ / ﻿52.023972°N 75.47...
 6                                        Radar  ...  30°58′6.93″N 35°05′49.64″E﻿ / ﻿30.9685917°N 35...
 7                                Lattice tower  ...  50°28′16.49″N 30°27′11.97″E﻿ / ﻿50.4712472°N 3...
 8                            Electricity pylon  ...  29°56′2.78″N 122°2′10.12″E﻿ / ﻿29.9341056°N 12...
 9                        Partially guyed tower  ...  52°00′36.24″N 05°03′12.87″E﻿ / ﻿52.0100667°N 5...
 10                    Guyed tubular steel mast  ...  49°14′30.04″N 28°25′25.25″E﻿ / ﻿49.2416778°N 2...
 11                                      Bridge  ...  44°05′09.97″N 03°01′17.94″E﻿ / ﻿44.0861028°N 3...
 12  Blaw-Knox Tower (diamond cantilever tower)  ...    47°22′23″N 19°00′16″E﻿ / ﻿47.37306°N 19.00444°E
 13                                         Dam  ...  28°11′07″N 101°37′42″E﻿ / ﻿28.18528°N 101.62833°E
 14                                Wind turbine  ...    48°59′49″N 9°48′35″E﻿ / ﻿48.997075°N 9.809822°E
 15                         Statue (incl. base)  ...      21°50′17″N 73°43′09″E﻿ / ﻿21.8380°N 73.7191°E
 16                                     Minaret  ...  33°36′28.71″N 7°37′58.16″W﻿ / ﻿33.6079750°N 7....
 17                               Cooling tower  ...  24°32′04.97″N 76°05′57.89″E﻿ / ﻿24.5347139°N 7...
 18                                    Monument  ...  38°37′28.62″N 90°11′5.87″W﻿ / ﻿38.6246167°N 90...
 19                                 Water tower  ...  29°23′22.75″N 48°00′11.57″E﻿ / ﻿29.3896528°N 4...
 20                            Wooden structure  ...  35°01′48″N 106°33′27″W﻿ / ﻿35.029898°N 106.557...
 21                               Masonry tower  ...  46°06′36.53″N 112°54′48.8″W﻿ / ﻿46.1101472°N 1...
 22                          Inclined structure  ...  45°33′33.53″N 73°33′7.61″W﻿ / ﻿45.5593139°N 73...
 23                                     Obelisk  ...  29°44′59.46″N 95°04′50.52″W﻿ / ﻿29.7498500°N 9...
 24                                Ferris wheel  ...  36°07′03″N 115°10′05″W﻿ / ﻿36.117402°N 115.168...
 25                            Masonry building  ...  45°04′8.45″N 7°41′35.62″E﻿ / ﻿45.0690139°N 7.6...
 26                                    Flagpole  ...  21°30′28.23″N 39°10′11.04″E﻿ / ﻿21.5078417°N 3...
 27                                Church tower  ...  48°23′55″N 9°59′30.78″E﻿ / ﻿48.39861°N 9.99188...
 28                             Industrial hall  ...  28°35′9.64″N 80°39′2.11″W﻿ / ﻿28.5860111°N 80....
 29                              Memorial cross  ...  40°38′31.46″N 4°9′19.6″W﻿ / ﻿40.6420722°N 4.15...
 30                                   Telescope  ...    18°20′39″N 66°45′10″W﻿ / ﻿18.34417°N 66.75278°W
 31                              Roller coaster  ...  40°08′26.54″N 74°25′59.83″W﻿ / ﻿40.1407056°N 7...
 32                                        Tomb  ...  29°58′44.93″N 31°08′3.09″E﻿ / ﻿29.9791472°N 31...
 33                   Air traffic control tower  ...  2°44′26″N 101°40′45″E﻿ / ﻿2.740486°N 101.679069°E
 34                                       Stupa  ...                                                NaN
 35                        Wooden lattice tower  ...  50°18′48.12″N 18°41′20.26″E﻿ / ﻿50.3133667°N 1...
 36                                Storage silo  ...      48°25′57″N 9°58′58″E﻿ / ﻿48.43250°N 9.98278°E
 37                Aerial tramway support tower  ...  47°11′58.62″N 12°41′16.96″E﻿ / ﻿47.1996167°N 1...
 38                                      Sphere  ...  59°17′36.92″N 18°04′58.79″E﻿ / ﻿59.2935889°N 1...
 39                                  Lighthouse  ...                                                NaN
 40                                     Gopuram  ...  14°05′39″N 74°29′07″E﻿ / ﻿14.094197°N 74.485163°E

 [41 rows x 8 columns],                               Category  ...                                            Remarks
 0                           Guyed mast  ...     Completed in 1974, collapsed on August 8, 1991
 1            Scientific research tower  ...     Completed in 1962, demolished May 23, 2012[10]
 2             Guyed tubular steel mast  ...              Completed in 1973, dismantled in 1998
 3  Structure for scientific experiment  ...  Guyed mast, which carried 44 kt yield nuclear ...
 4                     Wooden structure  ...  Completed in 1934, destroyed on April 6, 1945,...
 5                     Masonry building  ...  Spire destroyed by a tornado in 1953 (rebuilt ...
 6          Pre-Industrial era building  ...         Completed in 1311, spire blown off in 1549
 7                            Gasometer  ...  Completed in 1938, damaged at an air raid on M...
 8                         Storage silo  ...            Constructed in 1961, demolished in 2013

 [9 rows x 8 columns],                     Category  ... Architectural top (feet)
 0                 Mixed-use*  ...                   2722.0
 1                     Office  ...                   1821.0
 2         Military structure  ...                   1545.0
 3                Residential  ...                   1550.0
 4                      Hotel  ...                   1972.0
 5  Scientific research tower  ...                   1066.0
 6                Educational  ...                    787.0
 7                  Religious  ...                    689.0
 8                   Hospital  ...                    511.8

 [9 rows x 6 columns],                                       Date (event)  ...                 Tip
 0                     2010: Burj Khalifa completed  ...        Burj Khalifa
 1        2009: CTBUH omits Height to Roof category  ...        Willis Tower
 2  2008: Shanghai World Financial Center completed  ...        Willis Tower
 3                       2003: Taipei 101 completed  ...        Willis Tower
 4             2000: Willis Tower antenna extension  ...        Willis Tower
 5                  1998: Petronas Towers completed  ...  World Trade Center
 6                   1996: CTBUH defines categories  ...  World Trade Center

 [7 rows x 5 columns],     Record from  ...                                              Notes
 0   c. 10000 BC  ...                  The earliest temple of humankind.
 1    c. 8000 BC  ...                                                NaN
 2    c. 4000 BC  ...                                                NaN
 3    c. 2650 BC  ...                                                NaN
 4    c. 2610 BC  ...  Shortly after completion Meidum Pyramid collap...
 5    c. 2605 BC  ...  Angle of slope decreased during construction t...
 6    c. 2600 BC  ...                                                NaN
 7    c. 2560 BC  ...  By 1647, the Great Pyramid had eroded to a hei...
 8          1311  ...  The central spire was destroyed in a storm in ...
 9          1549  ...                                                NaN
 10         1569  ...  Spire collapsed in 1573 (the cross was removed...
 11         1573  ...  The spire burnt down after a lightning strike ...
 12         1647  ...  By 1647, the Great Pyramid had eroded to a hei...
 13         1874  ...                                                NaN
 14         1876  ...                                                NaN
 15         1880  ...                                                NaN
 16         1884  ...  The world's tallest all-stone structure, as we...
 17         1889  ...  First structure to exceed 300 metres in height...
 18         1930  ...                                                NaN
 19         1931  ...  First building with 100+ storeys. The addition...
 20         1967  ...  Remains the tallest in Europe. Fire in 2000 le...
 21         1975  ...             The tallest in the Western Hemisphere.
 22         2007  ...  Holder of world's tallest freestanding structu...

 [23 rows x 8 columns],     Record from  ...                                              Notes
 0   Record from  ...                                              Notes
 1          1889  ...  Two lower observation decks at 57 and 115 m (1...
 2          1931  ...  On the 102nd floor – a second observation deck...
 3          1973  ...  Indoor observatory on the 107th floor of South...
 4          1974  ...        103rd floor Skydeck opened on June 22, 1974
 5          1975  ...  Outdoor observatory on the South Tower rooftop...
 6          1976  ...  Two further observation decks at 342 and 346 m...
 7          2008  ...  Two further observation decks at 423 and 439 m...
 8          2011  ...  The rooftop outdoor observation deck opened in...
 9          2014  ...  Opened on October 15, 2014 on the 148th floor....
 10         2016  ...                            Opened on July 1, 2016.

 [11 rows x 7 columns],     Record from  ...                                              Notes
 0   Record from  ...                                              Notes
 1          1913  ...  Mast was divided in 145 m by an insulator, dem...
 2          1920  ...                        2 masts, demolished in 1946
 3          1923  ...                         8 masts, destroyed in 1940
 4          1933  ...  Blaw-Knox Tower, insulated against ground, des...
 5          1939  ...     Insulated against ground, dismantled 1946/1947
 6          1946  ...  Blaw-Knox Tower, Insulated against ground, reb...
 7          1948  ...                                                NaN
 8          1949  ...                           Insulated against ground
 9          1950  ...               Insulated against ground, demolished
 10         1954  ...                                                NaN
 11         1956  ...                         Collapsed in 1960; rebuilt
 12         1959  ...                                                NaN
 13         1960  ...                                                NaN
 14         1962  ...                                                NaN
 15         1963  ...                                                NaN
 16         1963  ...  75 foot analog antenna was removed from the to...
 17         1974  ...  Mast radiator insulated against ground, collap...
 18         2018  ...                                                NaN

 [19 rows x 8 columns],       From       To  ...                      Town Pinnacle height
 0   280 BC  1180 AD  ...         Alexandria, Egypt           122 m
 1     1180     1240  ...            Malmesbury, UK         131.3 m
 2     1240     1311  ...                London, UK           150 m
 3     1311     1549  ...               Lincoln, UK         159.7 m
 4     1549     1647  ...        Stralsund, Germany           151 m
 5     1647     1874  ...        Strasbourg, France           142 m
 6     1874     1876  ...          Hamburg, Germany           147 m
 7     1876     1880  ...             Rouen, France           151 m
 8     1880     1889  ...          Cologne, Germany        157.38 m
 9     1889     1958  ...             Paris, France         312.3 m
 10    1958     1967  ...              Tokyo, Japan         332.6 m
 11    1967     1975  ...            Moscow, Russia         540.1 m
 12    1975     2010  ...  Toronto, Ontario, Canada        553.33 m
 13    2010     2011  ...          Guangzhou, China           600 m
 14    2011  present  ...              Tokyo, Japan           634 m

 [15 rows x 5 columns],                                                  Rank  ...                                             Floors
 0   Structures (supported) Main article: List of t...  ...  Structures (supported) Main article: List of t...
 1                                                   1  ...                                                  –
 2                                                   2  ...                                                  –
 3                                                   3  ...                                                  –
 4                        Structures (media supported)  ...                       Structures (media supported)
 5                                                   1  ...                                                  –
 6                                                   2  ...                                                  –
 7                                                   3  ...                                                  –
 8   Freestanding structures Main article: List of ...  ...  Freestanding structures Main article: List of ...
 9                                                   1  ...                                                163
 10                                                  2  ...                                                  –
 11                                                  3  ...                                                128
 12                                                  4  ...                                                120
 13                                                  5  ...                                                  –
 14                                                  6  ...                                                115
 15                                                  7  ...                                                128
 16                                                  8  ...                                                123
 17                                                  9  ...                                                  –
 18                                                 10  ...                                                104
 19                                                 11  ...                                                  –
 20                                                 12  ...                                                111
 21                                                 12  ...                                                 98
 22                                                 14  ...                                                108
 23                                                 15  ...                                                108
 24  Buildings Main article: List of tallest buildi...  ...  Buildings Main article: List of tallest buildi...
 25                                                  1  ...                                                163
 26                                                  2  ...                                                128
 27                                                  3  ...                                                120
 28                                                  4  ...                                                115
 29                                                  5  ...                                                128
 30                                                  6  ...                                                123
 31                                                  7  ...                                                104
 32                                                  8  ...                                                111
 33                                                  9  ...                                                 98
 34                                                 10  ...                                                108
 35                                                 11  ...                                                101
 36                                                 12  ...                                                101
 37                                                 13  ...                                                118
 38                                                 14  ...                                                 86
 39                                                 15  ...                                                 81

 [40 rows x 6 columns],    vteTallest buildings and structures              vteTallest buildings and structures.1
 0            History Skyscraper Storey                          History Skyscraper Storey
 1                            Buildings  By region Africa Asia Indian subcontinent Sout...
 2                            By region  Africa Asia Indian subcontinent Southeast Euro...
 3                           By country  Afghanistan Albania Algeria Argentina Australi...
 4                             By other     British Empire and Commonwealth European Union
 5                                Lists  100+ floors Architects Buildings by height to ...
 6              Structures(of any type)  By region Africa Europe former Soviet Union fo...
 7                            By region  Africa Europe former Soviet Union former Yugos...
 8                           By country  Albania Algeria Australia Austria Bahrain Belg...
 9                             By other                            Commonwealth of Nations
 10                               Lists  300 to 400 metres 400 to 500 metres Before the...
 11                       Relatedtopics  Additionally guyed tower Air traffic obstacle ...,     By region Africa Asia Indian subcontinent Southeast Europe Balkans Baltic states Scandinavia Oceania The Americas North America South America Central America Latin America
 0  By country  Afghanistan Albania Algeria Argentina Australi...
 1    By other     British Empire and Commonwealth European Union
 2       Lists  100+ floors Architects Buildings by height to ...                                                                                                               ,     By region Africa Europe former Soviet Union former Yugoslavia Asia West Asia The Americas South America
 0  By country  Albania Algeria Australia Austria Bahrain Belg...
 1    By other                            Commonwealth of Nations
 2       Lists  300 to 400 metres 400 to 500 metres Before the...                                           ,   vteStructural extremes                           vteStructural extremes.1
 0                Tallest  Buildings Structures Bridges Chimneys Churches...
 1                Largest  Buildings Churches City squares Dams Domes Hin...
 2                Longest  Buildings Bridges arched cable-stayed cantilev...]

In [ ]:
tallest = dfwiki[3]  
tallest.head()

                          Category  ...                                        Coordinates
0               Building[4] (list)  ...  25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...
1  Self-supporting tower[5] (list)  ...  35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...
2         Guyed steel lattice mast  ...    47°16′45″N 97°20′27″W﻿ / ﻿47.27917°N 97.34083°W
3                    Mast radiator  ...  21°25′11.87″N 158°08′53.67″W﻿ / ﻿21.4199639°N ...
4                    Twin building  ...  3°09′27.45″N 101°42′40.7″E﻿ / ﻿3.1576250°N 101...

[5 rows x 8 columns]

# Exercise

In [ ]:
ufo = pd.read_csv('ufo.csv')

ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

### Q1:

show the top 5 rows of data

In [ ]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

### Q2: 
show the last 10 rows of data

In [ ]:
ufo.tail(10)

                 City Colors Reported Shape Reported State              Time
18231     Pismo Beach             NaN           OVAL    CA  12/31/2000 20:00
18232            Lodi             NaN            NaN    WI  12/31/2000 20:30
18233       Anchorage             RED        VARIOUS    AK  12/31/2000 21:00
18234        Capitola             NaN       TRIANGLE    CA  12/31/2000 22:00
18235  Fountain Hills             NaN            NaN    AZ  12/31/2000 23:00
18236      Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237     Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238     Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239     Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240            Ybor             NaN           OVAL    FL  12/31/2000 23:59

### Q3:

check the data type

In [ ]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

### Q4:

#show all rows for the column 'City' , and the unique cities

In [ ]:
ufo.City.drop_duplicates()

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18222          Albrightsville
18224                 Eufaula
18234                Capitola
18236              Grant Park
18240                    Ybor
Name: City, Length: 6477, dtype: object

### Q5: 
determine the shape (dimension) of the data

In [ ]:
ufo.shape

(18241, 5)

### Q6:
show all data for 'City' that starts with 'E'

In [ ]:
ufo[ufo.City.str[0]=="E"]

                 City Colors Reported Shape Reported State              Time
8             Eklutna             NaN          CIGAR    AK  10/15/1936 17:00
55           Espanola             NaN         CIRCLE    NM    6/1/1947 17:00
109         Excelsior             NaN         CIRCLE    MN    8/15/1949 0:00
140    East Palestine             NaN          LIGHT    OH   7/10/1950 20:30
179         Evergreen             NaN           DISK    CO    6/6/1952 13:00
...               ...             ...            ...   ...               ...
18182      Evansville             NaN       FIREBALL    IN  12/24/2000 20:00
18215        El Campo             NaN          OTHER    TX   12/29/2000 9:00
18224         Eufaula             NaN           DISK    OK  12/29/2000 23:30
18238     Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239     Eagle River             RED          LIGHT    WI  12/31/2000 23:45

[557 rows x 5 columns]

### Q7:

count the number of reported cases for 'LIGHT'

In [ ]:
ufo['Shape Reported'][ufo["Shape Reported"]=="LIGHT"].count()

2803

### Q8

count the number of shape reported, group by state and city

In [ ]:
ufo.groupby(["State", "City"]).size()

State  City
AK     Adak                          1
       Alaska                        2
       Anchorage                    12
       Arctic                        1
       Auke Bay                      2
                                    ..
WY     Ten Sleep                     1
       Wheeling                      1
       Wyoming                       2
       Yellowstone National Park     1
       Yellowstone Park              1
Length: 8029, dtype: int64